/* DOM ELEMENTS */
html, body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    justify-content: center;
}

select {
    cursor: pointer;
    border-radius: 2px;
}

select option {
    background-color: black;
    color: white;
}

button {
    display: flex;
    justify-content: center;
    align-items: center
}

:root {
    --low-priority: rgb(103, 187, 255);
    --med-priority: rgb(255, 246, 84);
    --high-priority: rgb(255, 92, 71);
}

/* APP */
.app {
    margin-top: 20%;
    width: 70%;
}

.app-title {
    margin-bottom: 1.5rem;
}

/* ITEM INPUT */
.input-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.todo-list-input {
    width: 100%;
}

.add-button:hover {
    cursor: pointer;
}

/* TODO LIST */
.todo-list-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.todo-list-item {
    display: flex;
    align-items: stretch;

    margin-bottom: 0.5rem;
}

.todo-list-item-name {
    display: flex;
    align-items: center;
    width: 100%;
}

.complete-button {
    background-color: green;
    border-color: darkgreen;
    width: 25px;
    height: 25px;
}

.complete-button:hover {
    cursor: pointer;
    background-color: darkgreen;
}

.remove-button:hover {
    cursor: pointer;
    background-color: darkred;
}

.remove-button {
    background-color: red;
    border-color: darkred;
    height: 25px;
    width: 25px;
}

/* PRIORITY */
.item-options { 
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.priority-one {
    background-color: var(--low-priority);
}

.priority-two {
    background-color: var(--med-priority);
}

.priority-three {
    background-color: var(--high-priority);
}

/* ITEM MODIFICATIONS */ 
.strike-through {
    text-decoration: line-through;
}

.item-completed {
    background-color: lightgreen;
}
